.Input-range {
  input[type="range"] {
    background-color: red;
  }
  &__thumb {
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    pointer-events: none;
    position: absolute;
    height: 0;
    width: 100%;
    outline: none;

    // &::-webkit-slider-thumb {
    //   -webkit-appearance: none;
    //   -webkit-tap-highlight-color: transparent;
    // }

    &::-webkit-slider-thumb {
      background: #ffffff;
      border: none;
      border-radius: 50%;
      box-shadow: 0px 1px 5px rgba(24, 36, 67, 0.25);
      cursor: pointer;
      height: 26px;
      width: 26px;
      margin-top: 4px;
      pointer-events: all;
      position: relative;
      scale: 1.2;
    }

    &::-moz-range-thumb {
      background: #ffffff;
      border: none;
      border-radius: 50%;
      box-shadow: 0px 1px 5px rgba(24, 36, 67, 0.25);
      cursor: pointer;
      height: 26px;
      width: 26px;
      margin-top: 4px;
      pointer-events: all;
      position: relative;
    }
  }
}
