.Banner {
  margin: 0 -20px;
  padding: 0 20px;

  &__slider {
    margin: 0 -20px;
    padding: 0 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    &__mobile {
      min-height: 80px;
      min-width: 100%;
      background-color: white;
      border-radius: 12px;
      box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }

  //   img {
  //     width: 100%;
  //     box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.08);
  //     border-radius: 12px;
  //     min-height: 80px;
  //   }
}
