@import "./vars";

.Mobile-menu {
  // box-shadow: 4px 0px 12px rgba(0, 0, 0, 0.1);

  @include media-lg {
    display: none;
  }

  .Mobile-menu__category {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &.active {
      color: $purple-main;

      svg {
        stroke: $purple-main;
      }
    }

    svg {
      transition: all 0.4s ease-in-out;
    }

    &:hover {
      color: $purple-main;

      svg {
        stroke: $purple-main;
      }
    }
  }

  &--border {
    border-radius: 0;
    box-shadow: none;
  }
}
