.NewsRow {
  .swiper {
    display: none;
    padding: 0 20px;

    @include media-md {
      display: block;
    }

    @include media-lg {
      padding: 0;
    }

    .swiper-wrapper {
      .swiper-slide {
        width: fit-content;
      }
    }
  }

  &__mobile {
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
